<div style="border-bottom: 1px solid #F7F7F7;padding-bottom: 5px;">
  <div class="container" style="padding-top:1%;">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <span style="color: #3EC6FF" routerLink="/home">
          <img src="/assets/images/plane.png" width="53" height="53">acme co</span>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-6" style="text-align: right">
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-secondary spDropDown" id="currency" ngbDropdownToggle>USD</button>
                  <div ngbDropdownMenu aria-labelledby="currency">
                    <button class="dropdown-item">USD</button>
                    <button class="dropdown-item">AUD</button>
                    <button class="dropdown-item">EUR</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-secondary spDropDown" id="search" ngbDropdownToggle>RecentSearch
                  </button>
                  <div ngbDropdownMenu aria-labelledby="search">
                    <button class="dropdown-item">RecentSearch</button>
                    <button class="dropdown-item">RecentSearch</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
