<div class="background">
  <div class="layer">
    <div class="container box">

      <div class="row" style="padding-top: 1%;">
        <div class="col-md-12 col-sm-12 alignCenter">
          <img src="/assets/images/Logomak.png" class="img-responsive center-block">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 alignCenter">
          <h3>Acme Travels</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 alignCenter">
          <p>Travel Made Easy</p>
          <h6 *ngIf="errorMsg" style="color: crimson;font-size:20px;font-weight: bolder">User Not Found</h6>
          <h6 *ngIf="wrongPasswordMsg" style="color: crimson;font-size:20px;font-weight: bolder">Wrong Password</h6>
        </div>
      </div>
      <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="row">
        <div class="col-md-3 col-sm-3" style="text-align: right">
          <img src="/assets/images/email.png" class="img-responsive center-block">
        </div>
        <div class="col-md-9 col-sm-9">
          <input type="text" ngModel name="email" placeholder="Email">
        </div>
      </div>

      <div class="row" style="margin-top: 5%;">
        <div class="col-md-3 col-sm-3" style="text-align: right">
          <img src="/assets/images/password.png" class="img-responsive center-block">
        </div>
        <div class="col-md-9 col-sm-9">
          <input type="password" ngModel name="password" placeholder="Password">
        </div>
      </div>

      <div class="row" style="margin-top: 3%;">
        <div class="col-md-6 col-sm-12 alignRight spAlign">
          <input type="submit" class="btn" value="Login" style="background: #109BF8;color: white">
        </div>
        <div class="col-md-6 col-sm-12 alignLeft spAlign">
          <input type="button" routerLink="/acmeSignUp" class="btn" value="Sign up"
                 style="background: #fff;color: #3EC6FF">
        </div>
      </div>
      </form>
      <div class="row" style="margin-top: 3%;padding-bottom: 2%;">
        <div class="col-md-12 col-sm-12 alignCenter">
          <p style="color: #6c757d">Forgot Password</p>
        </div>
      </div>

    </div>
  </div>
</div>
