<div class="container-fluid main">
  <div class="row" style="text-align: center">
    <section style="width: 100%">
      <h1>Questions?Look here</h1>
      <p>Cannot find the answer?Email us at support@gmail.com</p>
    </section>
  </div>
</div>

<div class="container" style="margin-top: 4%;">
  <div class="row">
    <div class="col-md-4 col-xs-12" style="padding-left: 10%;">
      <div class="row">
        <ul>
          <li><h3>Table of Content</h3></li>
          <li style="margin-top: 5%;">General</li>
          <li>Trust and Safety</li>
          <li>Services</li>
          <li>Billing</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="row">
          <span style="display: inline-flex"><input type="image" (click)="toggle('_div1')" [src]="imgSrc" alt="Submit"
                                                    width="24" height="24">
          <h3>Lorem Ipsum</h3></span>
        <p id="_div1" style="margin-left: 5%">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
          also the leap into electronic typesetting, remaining essentially unchanged</p>
      </div>

      <div class="row">
          <span style="display: inline-flex"><input type="image" [src]="imgSrc2" (click)="toggle('_div2')" alt="Submit"
                                                    width="24" height="24">
          <h3>Lorem Ipsum</h3></span>
        <p id="_div2" style="margin-left: 5%">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
          also the leap into electronic typesetting, remaining essentially unchanged</p>
      </div>
    </div>
  </div>
</div>


